/*
 * Shortcode: footer.scss
 * -----------------------------------------------
*/
footer#footer {
	background-color: #2B2F2E;
	color: #bdc2c2;
}
.footer-border-top {
	border-top: 1px solid #24396a;
}
.footer-bottom {
	position: relative;
	.styled-icons {
		z-index: 1;
		position: relative;
	}
	.footer-paragraph {
		z-index: 1;
		position: relative;
	}
	&:after {
		content: "";
		background: #232726;
		height: 100%;
		width: 90%;
		left: 0;
		position: absolute;
		top: 0;
		z-index: 0;
		border-radius: 0 10px 10px 0;
	}
}
.footer-company-text {
	border-bottom: 1px solid #24396a;
	padding-bottom: 20px;
}
.widget .post .post-right .post-title a {
}
footer#footer a:not(.social-link):not(.icon) {
	color: #bdc2c2;
	font-weight: 600;
}
footer#footer .menu-footer-page-list a:not(.social-link):not(.icon):focus,
footer#footer .menu-footer-page-list a:not(.social-link):not(.icon):hover,
footer#footer .menu-footer-page-list a:not(.social-link):not(.icon):active {
	padding-left: 5px;
}
.widget.widget_nav_menu ul > li::before {
	content: "-";
}
.widget.widget_archive ul > li::before,
.widget.widget_categories ul > li::before,
.widget.widget_pages ul > li::before,
.widget.widget_meta ul > li::before,
.widget.widget_recent_comments ul > li::before,
.widget.widget_rss ul > li::before,
.widget.widget_nav_menu ul > li::before {
	color: #bdc2c2 !important;
}
.phone-icon {
	float: left;
	margin-top: 10px;
}
.phone-number {
	overflow: hidden;
	margin-left: 60px;
}
.phone-text {
	color: #888380;
	text-transform: uppercase;
	margin: 0;
}
.footer-address {
	font-size: 16px;
}
.contact-info-box-call {
	.call-icon {
		float: left;
		margin-right: 20px;
		i {
			background: #031337;
			padding: 15px;
			border-radius: 50%;
			color: #57dbfe;
			border: 1px solid #24396A;
		}
	}
	.call-details {
		overflow: hidden;
		h6 {
			font-size: 14px;
		}
		h5 {
			font-size: 16px;
		}
	}
}


