/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #3dc1bc;
$theme-color2: #ff6b70;
$theme-color3: #57DBFE;
$theme-color4: #122a48;

@import "parts/loader";